- content_for(:title) do
  Edit profile

.container-lg
  %h1= yield :title
  .row
    .col-12.col-sm-4.col-lg-3.mb-4
      %div(x-data="imageUpload")
        %div(x-show="!active")
          - if current_user.avatar.attached?
            -# = image_tag current_user.avatar.variant(resize_to_limit: [512, 512]), class: "img-fluid img-thumbnail bg-dark border-dark mb-2"
            = image_tag current_user.avatar, class: "img-fluid img-thumbnail bg-dark border-dark mb-2"
            .btn-group.w-100
              %label.btn.btn-dark.btn-sm(for="avatar-form-input") Change profile picture
              %button.btn.btn-dark.btn-sm.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
                %span.visually-hidden Toggle Dropdown
              %ul.dropdown-menu
                %li
                  %a.dropdown-item(data-confirm="Sure you want to delete your profile picture?" data-method="delete" href="/avatar") Delete profile picture
          - else
            .img-fluid.img-thumbnail.bg-dark.border-dark.mb-2.img-initials
              = Initials.svg(current_user.full_name, size: 512, shape: :rect)
            %label.btn.btn-dark.btn-sm.w-100(for="avatar-form-input") Upload profile picture

          = form_with url: "#", class: "text-center" do |f|
            = f.file_field :avatar, "x-bind" => "imageInput", id: "avatar-form-input", class: "d-none"

        %div(x-cloak x-show="active")
          %img.img-fluid(x-ref="preview")

          %button.btn.btn-info(x-bind="uploadButton") Set new profile picture
          %button.btn.btn-secondary{"@click" => "active = false"} Cancel

    .col.col-lg-6
      .card.text-bg-dark
        .card-body
          = bootstrap_form_with model: current_user, url: profile_url, method: :put do |f|
            = f.text_field :first_name, required: true
            = f.text_field :last_name
            = f.time_zone_select :time_zone #, nil, {}, {class: "form-control", "x-data" => "selectComponent"}
            .text-end= f.primary "Save"
