- content_for :title do
  Sign up

.d-flex.justify-content-center.flex-column.align-items-center
  .card
    .card-body
      %h1.card-title= yield :title

      = form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f|
        = render "devise/shared/error_messages", resource: resource

        .form-floating.mb-3
          = f.email_field :email, autocomplete: "email", required: true, class: "form-control"
          = f.label :email

        .form-floating.mb-3
          = f.password_field :password, autocomplete: "new-password", required: true, class: "form-control"
          = f.label :password
          - if @minimum_password_length
            %small
              = @minimum_password_length
              characters minimum

        .form-floating.mb-3
          = f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "form-control"
          = f.label :password_confirmation

        .d-grid.gap-2
          %button.btn.btn-primary(type="submit") Sign up

  = render "devise/shared/links"
