{
	"dir" : "ltr",
	"lang" : "English",
	"name" : "<%= App.config.name %>",
	"scope" : "<%= main_app.root_path %>",
	"display" : "standalone",
	"start_url" : "<%= main_app.root_url %>",
	"short_name" : "<%= App.config.short_name %>",
	"theme_color" : "<%= App.config.theme_color %>",
	"background_color" : "<%= App.config.background_color %>",
	"description" : "<%= App.config.description %>",
	"orientation" : "any",
	"icons" : [
		{
			"src": "<%= asset_url('app/logo_192.png') %>",
			"type": "image/png",
			"sizes": "192x192"
		},
		{
			"src": "<%= asset_url('app/logo_512.png') %>",
			"type": "image/png",
			"sizes": "512x512"
		}
	],
  "shortcuts": <%= App.config.shortcuts.to_json.html_safe %>,
  "share_target": <%= App.config.share_target.to_json.html_safe %>,
	"url" : "<%= main_app.root_url %>",
	"screenshots" : [],
	"generated" : "true"
}
