%nav.navbar
  .container.fluid
    = link_to home_url, class: "navbar-brand" do
      = image_tag "app/logo_192.png", width: 48, height: 48
    .navbar-nav
      - if current_user
        = link_to_unless_current "Account", account_url, class: "navbar-link"
      - else
        = link_to_unless_current "Sign in", new_user_session_url, class: "navbar-link"

.d-flex.justify-content-center
  - flash.each do |name, msg|
    .alert.alert-info.alert-dismissible.fade.show(role="alert")
      = msg
      %button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")

%main.container= yield
