- content_for :title do
  Sign in

.d-flex.justify-content-center.flex-column.align-items-center
  .card
    .card-body
      %h1.card-title= yield :title

      = form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f|
        .form-floating.mb-3
          = f.email_field :email, autocomplete: "email", required: true, class: "form-control"
          = f.label :email

        .form-floating.mb-3
          = f.password_field :password, autocomplete: "current-password", required: true, class: "form-control"
          = f.label :password

        - if devise_mapping.rememberable?
          .form-check.mb-3
            = f.check_box :remember_me, class: "form-check-input", id: "check-remember-me"
            %label.form-check-label(for="check-remember-me")
              Remember me

        .d-grid.gap-2
          %button.btn.btn-primary(type="submit") Sign in

  .d-flex.flex-column= render "devise/shared/links"
