%h1 Impersonate users
%blockquote.blockquote
  %p With great power comes great responsibility.

.card.text-bg-dark
  .card-body
    %table.table-dark.table
      .thead
        %tr
          %th Name
          %th Email
          %th
      .tbody
        - @users.each do |user|
          %tr
            %td= user.full_name
            %td= user.email
            %td.text-end= button_to "Impersonate", impersonate_admin_user_path(user), method: :post, class: "btn btn-sm btn-warning"
