- if current_user != true_user
  .pretender-info
    You are signed in as
    = current_user.email
    = button_to "Back to admin", stop_impersonating_admin_users_path, method: :post, class: "btn btn-sm btn-dark"
