%template#confirmModalTemplate
  .modal.fade(aria-hidden="true" aria-labelledby="confirmModalLabel" tabindex="-1" x-data="{}" style="font-size: 1rem;"){"x-on:hidden-bs-modal.dot" => "$el.remove()" }
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          %h5#confirmModalLabel.modal-title Are you sure?
          %button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
        -# .modal-body
        -#   Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .modal-footer
          %button.btn.btn-secondary.js-btn-no(data-bs-dismiss="modal" type="button") Cancel
          %button.btn.btn-primary.js-btn-yes(type="button" x-on:click="$event.target.dispatchEvent(new CustomEvent('confirmed', { bubbles: true }))") Confirm
