<section class="centered">
  <header>
    <h1>Welcome to your new application!</h1>

    <p>Follow the steps below to get started.</p>
  </header>

  <%- if User.count.zero? %>
    <p>Create your first user in the console. The first user will be admin.</p>
    <pre><code>User.create(first_name: "Me", email: "me@example.com", password: "123456").confirm</code></pre>
  <%- elsif current_user %>
    <p>Create <code>app/views/app/welcome.html.haml</code> to replace this page's content.</p>
    <p>Afterwards, edit <code>config/routes.rb</code> for custom routes.</p>
    <p><i>Happy hacking!</i></p>
  <%- else %>
    <%= link_to new_user_session_url do %>
      <b>Sign in</b>
    <% end %>
  <% end %>
</section>
