%h2= t "devise.invitations.edit.header"

= bootstrap_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|
  -#= render "users/shared/error_messages", resource: resource
  = f.hidden_field :invitation_token, readonly: true

  - if f.object.class.require_password_on_accepting
    = f.password_field :password
    = f.password_field :password_confirmation
    = f.primary t("devise.invitations.edit.submit_button")
