.container-lg
  .card.text-bg-dark
    .card-body
      %h4.card-title Create invitation

      .row{"x-data" => "{url: null}", "@ajax:success" => "e => e.detail.response.json().then((data) => { url = data.url })"}
        .col
          %p 1. Enter an email address to create a new user account and get a one-time invite link.
          = bootstrap_form_for(resource, as: resource_name, url: invitation_path(resource_name), remote: true, html: { method: :post }) do |f|
            %fieldset(x-bind:disabled="!!url")
              - resource.class.invite_key_fields.each do |field|
                = f.email_field field, required: true, floating: true
                = f.primary "Create invitation token"
        .col
          %template(x-if="!!url")
            %div
              %p 2. Share this link with the new user:
              .border.border-primary.rounded.p-2
                %p.text-secondary.font-monospace(x-text="url")

                %button.btn.btn-primary(x-data="clipboardCopy(url)" x-bind="copyButton")
                  = inline_svg_tag 'icons/clipboard.svg'
                  Copy to clipboard
