- content_for :title do
  First-time setup

.row
  .col-md
    %h1= yield :title
    %p Let's create your admin account!
  .col-md
    .card
      .card-body
        %h3 Create first admin user
        = bootstrap_form_for @user, url: setup_url do |f|
          = f.text_field :email, required: true, floating: true
          = f.password_field :password, required: true, floating: true, help: "Must be at least 8 characters long"
          = f.primary "Create admin"