<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) if content_for?(:title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel='manifest' href='/manifest.json'>
    <link rel="apple-touch-icon" href="<%= asset_url('app/logo_180.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_url('app/logo_16.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_url('app/logo_32.png') %>">

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "sprockets" %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="<%= App.config.name %>">
    <meta name="description" content="<%= App.config.description %>">
    <meta name="theme-color" content="<%= App.config.theme_color %>"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= main_app.root_url %>">
    <meta property="og:title" content="<%= yield :title %>">
    <meta property="og:description" content="<%= App.config.description %>">
    <meta property="og:image" content="<%= asset_url('app/logo_large.png') %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= main_app.root_url %>">
    <meta property="twitter:title" content="<%= yield :title %>">
    <meta property="twitter:description" content="<%= App.config.description %>">
    <meta property="twitter:image" content="<%= asset_url('app/logo_large.png') %>">

    <%= yield :head %>
  </head>

  <body style="--bs-body-bg: <%= App.config.background_color %>;">
    <%= render "pretender_info" %>
    <%= render "templates" %>
    <%= render template: "layouts/app" %>

    <script type="text/javascript">
      if (navigator.serviceWorker) {
        navigator.serviceWorker.register("/service-worker.js", { scope: "/" })
      }
    </script>
  </body>
</html>
