<div class="card">
  <h2>Device settings</h2>

  <h3>Notifications</h3>
  <div x-data="notificationRequester" class="flex row">
    <label class="switch" >
      <input type="checkbox" :value="granted" disabled>
      <span class="slider round"></span>
    </label>
    <div x-show="!granted">
      Notifications are disabled.<br>
      <button @click="requestPermission()">Enable notifications</button>
    </div>
    <div x-show="granted">
      Notifications are enabled.<br>
      <button x-bind="test">Show test notification</button>
    </div>
  </div>

  <h3>Push messages</h3>

</div>