- content_for(:title) do
  My account

.container
  %h1
    = yield :title
  .text-muted= current_user.email
  .row
    .col-lg
    .col-lg-4
      .d-grid.gap-2
        - if current_user.admin?
          = link_to "Admin & Analytics", "/admin", class: "btn btn-info"
          = link_to "Impersonate users", "/admin/users", class: "btn btn-warning"
          = link_to "Invite new user", new_user_invitation_url, class: "btn btn-secondary"
        = link_to "Edit profile", edit_profile_url, class: "btn btn-secondary"
        = button_to "Sign out", destroy_user_session_url, method: "delete", class: "btn btn-dark"
